@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Raleway&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
    font-family: 'Raleway', sans-serif;
}
.hero{
    background-color: #E6B9FB;
    background-size: cover;
}
.twoPart{
    height: 565px;
    max-width: 1180px;
    margin-left: auto;
    margin-right: auto;
}
#main{
    width: 45%;
    height: 500px;
    border-bottom-left-radius: 2rem;
    box-shadow: 0 10px 25px rgba(92,99,105,.2);
    color: #000;
    float: left;
    margin: 20px;  
}
#head{
    width: 100%;
    height: 50px;
    border-top-right-radius: 2rem;
    background-color: black;
    margin-bottom: 40px;
    color: #fff;
    padding: 10px;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    font-weight: 500;
    text-align: center;  
}
#allInput{
    text-align: center;
}
#main input{
    height: 30px;
    width: 40%;
    margin-bottom: 10px;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}

#main label{
    padding-right: 50px;
    padding-left: 40px;
    margin-bottom: 15px;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 400;
}
#btnall{
    text-align: center;  
}
.btn1, .btn2, .btn3 {
    outline: none;
    border: none;
    width: 20%;
    height: 40px;
    margin-top: 20px;
    margin-right: 20px;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 400;
    cursor: pointer;
}
.btn4 {
    outline: none;
    border: none;
    width: 20%;
    height: 40px;
    margin-top: 20px;
    margin-right: 20px;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 400;
    cursor: pointer;
}
.btn1:hover, .btn2:hover, .btn3:hover, .btn4:hover{
    background-color: blue;
    color: white;
    transition: all 700ms ease-in-out;
}
.btn4:hover{
    background-color: #38d41e;
    color: black;
    transition: all 700ms ease-in-out;
} 

#total{
    height: 190px;
    width: 100%;
    padding: 25px;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
}
#average{
    height: 80px;
    width: 100%;
    padding:30px;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
}
#grade{
    height: 80px;
    width: 100%;
    padding: 30px;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
}



/* start div second style */
#result{
    width: 45%;
    height: 500px;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
    box-shadow: 0 10px 25px rgba(92,99,105,.2);
    color: #000;
    float: right;
    margin: 20px;  
}
#head1{
    width: 100%;
    height: 50px;
    border-top-right-radius: 2rem;
    background-color: black;
    color: #fff;
    padding: 10px;
    font-family: 'Oswald', sans-serif;
    font-size: 19px;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;  
}
#head2{
    width: 100%;
    height: 50px;
    background-color: black;
    color: #fff;
    padding: 10px;
    font-family: 'Oswald', sans-serif;
    font-size: 19px;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;  
}
#head3{
    width: 100%;
    height: 50px;
    background-color: black;
    color: #fff;
    padding: 10px;
    font-family: 'Oswald', sans-serif;
    font-size: 19px;
    font-weight: 500;
    text-align: center; 
    text-transform: uppercase ;
}
